.hamburger-area {
  height: 3.5rem;
  display: flex;
  flex-direction: row-reverse;
}

.hamburger-menu {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0 10px;
  box-sizing: border-box;
}

.hamburger-menu div {
  background-color: var(--main-akok);
  height: 3px;
}

.sidebar {
  width: 17rem;
  height: 38rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 30px 20px;
  display: none;
}

.sidebar .sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.sidebar .sidebar-logo img {
  width: 8rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: var(--main-color);
  font-weight: 300;
  font-size: 1.2rem;
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 20px;
}

.sidebar-nav .sidebar-link:hover {
  background: var(--main-akok);
  color: #fff;
}

@media only screen and (min-width: 990px) {
  .hamburger-area {
    display: none;
  }
}
